{
    "importOrder": [
        "^(react/(.*)$)|^(react$)",
        "<THIRD_PARTY_MODULES>",
        "^#src/types/(.*)$",
        "^#src/contexts/(.*)$",
        "^#src/lib/(.*)$",
        "^#src/hooks/(.*)$",
        "^#src/utils/(.*)$",
        "^#src/components/ui/(.*)$",
        "^#src/components/(.*)$",
        "^[./]"
    ],
    "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
